.carousel {
    margin-top: 60px;
    .carousel-indicators {
        li {
            width: 12px;
            height: 12px;
            border-radius: 100%;
        }
        li.active {
            background-color: $color-red-1;
        }
    }
    .carousel-control-prev {
        .carousel-control-prev-icon {
            background-image: url("../../../Assets/img/back-session.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 50px;
            height: 100px;
            z-index: 2;

            position: absolute;
            left: 15px;
        }
    }
    .carousel-control-next {
        .carousel-control-next-icon {
            background-image: url("../../../Assets/img/next-session.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 50px;
            height: 100px;
            z-index: 2;

            position: absolute;
            right: 12px;
        }
    }
    &:hover {
        .carousel-inner {
            .carousel-item {
                .btn.trailer {
                    opacity: 1;
                }
            }
        }
    }
    .carousel-inner {
        width:100%;
        .carousel-item {
            -webkit-transition: -webkit-transform 0.6s ease-in-out !important;
            -o-transition: -o-transform 0.6s ease-in-out !important;
            transition: transform 0.6s ease-in-out !important;
            .btn.trailer {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
                transition: all 0.2s;
                opacity: 0;
                &:hover {
                    opacity: 0.7;
                }
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}

.carousel {
    @extend .styleTrailerModal;
}

@include responsive("medium") {
    .carousel {
        display: none;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}

@media (min-width: 992px) {
    .modal-dialog {
        width: 900px;
    }
}
